@import "src/assets/styles/nullstyles";
@import "src/assets/styles/templates";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @extend %scrollable;
  @extend %mainFont;

  @apply bg-back-primary text-font-primary;

  width: 400px;
  height: 550px;

  main {
    min-height: 100cqh;
  }
}

:root {
  font-size: 20px;
}
