@import "src/assets/styles/templates";

section.info {
  font-size: .8em;
  font-style: italic;
  display: flex;
  align-items: start;
  justify-content: space-between;
  line-height: 200%;

  &.warning {
    @extend %notSelectable;

    $modifier: .65;
    $fontSize: 1em * $modifier;

    color: gray;
    margin-bottom: calc(1.25 * $fontSize);
    font-size: $fontSize;
    font-style: normal;
    justify-content: start;
    align-items: center;
    gap: .5em;
    cursor: default;
    line-height: 135%;

    svg {
      height: 1em;

      path {
        fill: currentColor;
      }
    }
  }
}

section.additionalSettings {
  @apply mt-[1.25em];

  font-size: .8em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  button.control {
    @apply p-[.25em];

    width: 100%;
    border: 2px solid var(--back-secondary);
    border-left: none;
    transition: .15s ease background-color,
                .15s ease border-color;

    &.active {
      background: var(--back-third);
      border-color: var(--back-third);
    }

    &:first-of-type {
      border-radius: .5em 0 0 .5em;
      border-left: 2px solid var(--back-secondary);;
    }

    &:last-of-type {
      border-radius: 0 .5em .5em 0;
    }
  }
}

section.appVersion {
  @extend %semiBold;

  font-size: .8em;
  color: gray;
  margin-top: 2em;
}
